@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudCard Outlined>
    <MudCardContent>
        <MudText>Lorem Ipsum</MudText>
        <MudText Typo="Typo.body2">Lorem ipsum dolor sit amet.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Color="Color.Primary">Learn more...</MudButton>
    </MudCardActions>
</MudCard>

<Counter IncrementValue="5" />
